@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono&display=swap');  /*Fonts*/

/*Containers*/
#ui_container{
    height:900px;
    width:1900px;
    margin:auto;
}

#rules{
    min-height: 800px;
    width: 420px;
    float: left;
}

#app_container{
    min-height: 800px;
    width: 1900px;
}

#game_container{
    min-height:790px;
    min-width: 1030px;
    margin: 5px 0px 5px 5px;
    float: left;
}

#scoreboard_container{
    min-height: 780px;
    min-width: 400px;
    margin: 5px 0px 0px 0px;
    float: left;
}

#footer{
    background-color: rgb(180, 180, 180);
    opacity: 0.8;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 27px;
    text-align: center;
  }

/*Text*/

#footer_text{
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 9px;
}