@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono&display=swap');  /*Fonts*/

/*Elements*/

#button_container{
    text-align: center;
    margin: 50px 20px 0px 0px;
}

#play_button{
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    height:250px;
    width: 300px;
    border-radius: 20px;
    border-style: solid;
    border-color:white;
    color: white;
    background-color: slategray;
    transition: 0.2s;
}

#play_button:focus{
    outline: 0;
}
#play_button::-moz-focus-inner{
    border:0;
}

/*Animations*/

#play_button:hover{
    background-color: rgb(54, 54, 54);
    border-style: solid;
    border-color: rgb(121, 121, 121);
}
#play_button:active{
    transition: transform 0.3s;
    transform: scale(1.05);
}