@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono&display=swap');  /*Fonts*/

/*Elements*/
#points_container{
    text-align: center;
    margin: 110px 0px 0px 50px;
}

/*Text*/
#title{
    font-family: 'Press Start 2P', cursive;
    font-size: 52px;
    transition: transform 0.6s;
}

.points{
    font-family: 'Roboto Mono', monospace;
    font-size: 37px;
    transition: transform 0.6s;
}

#clock{
    font-family: 'Roboto Mono', monospace;
    margin: 50px 0px 50px 0px;
    font-size: 33px;
    transition: transform 0.6s;
}

#nextWin{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    transition: transform 0.6s;
}

/*Animations*/

#title:hover{
    transform: scale(1.2);
}

.points:hover{
    transform: scale(1.2);
}

#clock:hover{
    transform: scale(1.2);
}

#nextWin:hover{
    transform: scale(1.2);
}