@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono&display=swap');  /*Fonts*/

/*Elements*/
#rules_container{
    margin: 15px 0px 0px 15px;
}

#rules_content{
    margin: 15px 0px 0px 15px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
}

#content_margin{
    padding: 5px 10px 5px 10px;
}

#toggle_rules{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(121, 121, 121);
    color: white;
    background-color: rgb(54, 54, 54);
    transition: 0.2s;
}
#toggle_rules:focus{
    outline: 0;
}

/*Text*/

#rules_h3{
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

#rules_p{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 15px;
}

/*Animations*/

#toggle_rules:hover{
    background-color: rgb(80, 91, 102);
    border-style: solid;
}
#toggle_rules:active{
    transition: transform 0.3s;
    transform: scale(1.05);
}