@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono&display=swap');  /*Fonts*/

/*Elements*/
#scoreboard_content{
    margin-top: 240px;
    font-family: 'Press Start 2P', cursive;
    transition: transform 0.6s;
}

/*Text*/
#scoreboard_title{
    font-family: 'Press Start 2P', cursive;
    margin: 10px 0px 0px 0px;
}

#score{
    font-family: 'Press Start 2P', cursive;
}

/*Animations*/
#scoreboard_content:hover{
    transform: scale(1.2);
}