@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono&display=swap');  /*Fonts*/

/*Elements*/

#end_container{
    text-align: center;
    margin: 400px auto auto auto;
    animation: end_breathing 3s ease-out infinite normal;
}

/*Text*/

#end_title{
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
}

#end_para{
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

/*Animations*/
@keyframes end_breathing{
    0%{
        transform: scale(0.975);
    }
    40%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.975);
    }
}