@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono&display=swap');  /*Fonts*/

/*Elements*/

#lobby_container{
    height: 140px;
    width: 600px;
    text-align: center;
    margin: 350px auto auto auto;
}

#username_input{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    text-align: center;
    height: 45px;
    width: 400px;
    transition: 0.2s;
    
    
}

#username_btn{
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    color: snow;
    background-color: slategray;
    height: 51px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-color: slategray;
    border-style: solid;
    transition: 0.2s;
    opacity: 0.85;
    vertical-align: top;
}
#username_btn::-moz-focus-inner{
    border:0;
}

/*Text*/
.h1_titles{
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    transition: transform 0.6s;
    animation: lobby_breathing 2s ease-out infinite normal;
}

/*Animations*/

#username_btn:hover{
    opacity: 1.0;
}

.h1_titles:hover{
    transform: scale(1.2);
}

#username_input:hover{
    box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
}

@keyframes lobby_breathing{
    0%{
        transform: scale(0.975);
    }
    40%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.975);
    }
}