@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono&display=swap');  /*Fonts*/

/*Elements*/

#lobby_container{
    height: 140px;
    width: 600px;
    text-align: center;
    margin: 350px auto auto auto;
}

#username_input{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    text-align: center;
    height: 45px;
    width: 400px;
    
    
}

#username_btn{
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    color: snow;
    background-color: slategray;
    height: 51px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    transition: 0.2s;
    opacity: 0.85;
    vertical-align: top;
}

/*Text*/
.h1_titles{
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    transition: font-size 0.6s;
}

/*Animations*/

#username_btn:hover{
    opacity: 1.0;
}

.h1_titles:hover{
    font-size: 55px;
}